---
export async function getStaticPaths({ paginate }) {
  const astronautPages = [
    {
      astronaut: "Neil Armstrong",
    },
    {
      astronaut: "Buzz Aldrin",
    },
    {
      astronaut: "Sally Ride",
    },
    {
      astronaut: "John Glenn",
    },
    {
      astronaut: "Yuri Gagarin",
    },
    {
      astronaut: "Valentina Tereshkova",
    },
    {
      astronaut: "Alan Shepard",
    },
    {
      astronaut: "Jim Lovell",
    },
    {
      astronaut: "Chris Hadfield",
    },
    {
      astronaut: "Kalpana Chawla",
    },
  ];
  // Generate pages from our array of astronauts, with 2 to a page
  return paginate(astronautPages, { pageSize: 2 });
}
// All paginated data is passed on the "page" prop
interface Page {
  currentPage: number;
  data: { astronaut: string }[];
  url: {
    first?: string;
    prev?: string;
    next?: string;
    last?: string;
  };
}

const { page } = Astro.props as { page: Page };

console.log(page);
---

<!--Display the current page number. Astro.params.page can also be used!-->
<h1>Page {page.currentPage}</h1>
<ul>
  {page.data.map(({ astronaut }) => <li>{astronaut}</li>)}
</ul>
{page.url.first ? <a href={page.url.first}>First</a> : null}
{page.url.prev ? <a href={page.url.prev}>{page.currentPage - 1}</a> : null}
{page.currentPage}
{page.url.next ? <a href={page.url.next}>{page.currentPage + 1}</a> : null}
{page.url.last ? <a href={page.url.last}>Last</a> : null}
