---
import { Code } from "astro/components";

const { id } = Astro.params;

const sanitizedId = id.replace(/%20| /g, "-");
if (sanitizedId !== id) {
  return Astro.redirect(`/${sanitizedId}`);
}

export const prerender = false;

const isAstro = id === "astro";

const codeExample = `---
const { slug } = Astro.params;
---
<h1>Slug er {slug}</h1>; // "slug er ${id}"
`;

const paramExample = `├── src/
    └── pages/
        └── [slug].astro
`;
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class:list={[{ astro: isAstro }]}>
    <h1>Slug er <span>{id}</span></h1>
    <div class="path">
      <p>current route: <span>[slug].astro</span></p>
      <p>current page: <span>{id}/index.html</span></p>
    </div>
    <div>
      <figure>
        <Code code={paramExample} lang="apex" theme="houston" />
        <figcaption>Mappestruktur</figcaption>
      </figure>
      <figure>
        <Code code={codeExample} lang="js" theme="houston" />
        <figcaption>Læs værdien af slug</figcaption>
      </figure>
    </div>
    {id === "astro" && <p>Render markup conditionally</p>}
  </body>
</html>

<style>
  h1 {
    font-size: 1.5rem;
  }
  div:not(.path) {
    display: flex;
    gap: 1rem;
    flex-flow: wrap;
  }
  pre {
    padding: 1rem;
    font-size: 1rem;
    border-radius: 4px;
    width: fit-content;
    margin: 0.25rem 0;
    box-shadow: inset 0 0 0 1px oklch(from #5000ca 75% c h);
  }
  figure {
    margin: 0;

    figcaption {
      color: #555;
      font-weight: 500;
      letter-spacing: -0.2px;
    }
  }
  .path {
    position: fixed;
    top: 1rem;
    right: 1rem;
    font-family: monospace;
    display: grid;
    gap: 0.5rem;
    justify-items: end;

    > * {
      margin: 0;
    }

    span {
      font-weight: 700;
    }
  }

  html {
    font-family: system-ui;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .astro {
    background: oklch(from #5000ca 25% 36% h);
    color: #fff;

    figcaption {
      color: oklch(from #fff 85% c h);
    }
  }
  span {
    color: #5000ca;
    border: 1px solid oklch(from #5000ca 75% c h);
    background: oklch(from #5000ca 98% c h / 50%);
    line-height: 1;
    padding: 0.2rem;
    display: inline-block;
    border-radius: 0.25rem;
  }
</style>
